/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant SC', serif;
    background-color: #d6b4c4; /* The logo's background color */
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 150px;
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    font-family: 'Cantata One', serif;
    font-size: 1.2em;
    color: #333;
    background-color: #f3e7ea; /* Lighter shade for contrast */
}

/* Portfolio Grid Styles */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust based on the size you want */
    grid-gap: 15px; /* Space between images */
    padding: 20px;
    margin: 20px auto;
    width: 90%; /* Centering the grid in the page */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
    background-color: #ffffff; /* White background to make images stand out */
    border-radius: 8px; /* Rounded corners for a softer look */
}

.portfolio-item {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Slight rounding of image corners */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.portfolio-item:hover {
    transform: scale(1.03); /* Subtle zoom effect on hover */
    box-shadow: 0 6px 12px rgba(0,0,0,0.15); /* Increased shadow for a lifted effect */
}

/* Hidden class to toggle display */
.hidden {
    display: none;
}

/* Lightbox Overlay */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's above other content */
}

/* Style for the image inside the lightbox */
.lightbox img {
    max-width: 90%;
    max-height: 80%;
    margin: auto; /* Centers the image in the alloted space */
}
